body {
    margin: 0;
}

.treemap, .temp {
    position: fixed;
    font: 12px sans-serif;
}

.temp {
    pointer-events: none;
    opacity: 0;
}

#piechartlegend{
    position: relative;
    top: 10%;
    left: 25%;
}